<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmobile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/livres"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appmobile">
        <activity
            android:name=".Vue.ActivityApropos"
            android:exported="false" />
        <activity
            android:name=".Vue.ActivityCalculMoyenneSemestre"
            android:exported="false"
            android:label="@string/title_activity_calcul_moyenne_semestre"
            android:theme="@style/Theme.Appmobile.NoActionBar" />
        <activity
            android:name=".Vue.ActivityCalculMoyenneModule"
            android:exported="false" />
        <activity
            android:name=".Vue.ActivityAcceuil"
            android:exported="false" />
        <activity
            android:name=".Vue.ActivityChargement"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>